/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.welcome-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#060606b3, #000000b3), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.animated-text {
    color: rgb(255, 255, 255); /* Set color to dark green */
}

.animated-text span {
    opacity: 0;
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    animation: fadeIn 1s forwards;
}

/* Animation to make each letter appear one by one */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Delay each letter appearance */
.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.3s; }
.animated-text span:nth-child(3) { animation-delay: 0.6s; }
.animated-text span:nth-child(4) { animation-delay: 0.9s; }
.animated-text span:nth-child(5) { animation-delay: 1.2s; }
.animated-text span:nth-child(6) { animation-delay: 1.5s; }
.animated-text span:nth-child(7) { animation-delay: 1.8s; }

h1 {
    font-size: 3em;
    margin-bottom: 8px;
}
h2 {
    font-size: 5em;
    margin-bottom: 10px;
    color: rgba(194, 136, 49, 0.958)
}
.login-buttons {
    margin-top: 20px;
}

.login-btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #46ed43;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #f77541;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/background.jpg'); /* Use the correct path for your background image */
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set a fixed width for the login box */
    text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

